body.quaynaut {
	height: 100vh;
	margin: 0;
	padding: 0;
	counter-reset: slides;
}

.quaynaut article {
	counter-increment: slides;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 4px solid #808080;
}

.quaynaut.presentation article {
	border: none;
}
.quaynaut.presentation article:not(:target) {
	position: absolute;
	top: -300vh;
	left: -300vw;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.quaynaut-toggle {
	position: absolute;
	top: 1em;
	right: 1em;
	text-decoration: none;
}

.quaynaut-nav {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.quaynaut-nav a {
	overflow: hidden;
	font-size: 0;
	text-decoration: none;
	color: #808080;
}
.quaynaut-nav a:after {
	font-size: 2rem;
}
.quaynaut-nav a[rel=prev]:after {
	content: "←";
}
.quaynaut-nav a[rel=self]:after {
	content: counter(slides);
}
.quaynaut-nav a[rel=next]:after {
	content: "→";
}
